{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1> "{{todo_detail.name}}"</h1>
        <p>
            <a href="{% url 'todo_list_update' todo_detail.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo_detail.id %}">Delete</a>
        </p>
        <h2> Tasks </h2>
        <table>
            <tr>

                <th>Task</th>
                <th>Due Date</th>

            </tr>
            {%for item in todo_detail.items.all%}
            <tr>

                <td><a href="{% url 'item_update' todo_detail.id %}">{{item.task}}</a></td>
                <td>{{item.due_date}}</td>



            </tr>
            {%endfor%}
        </table>
    </div>
</main>
{% endblock content%}
