{% extends 'base.html' %}

{% block content %}
<main>
    <div>

        <h1> My Lists</h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <a href="{% url 'item_create' %}">Create a new item</a>
        </p>

        <table>
            <tr>
                <th>Name</th>
                <th>Number of items</th>

            </tr>
            {%for item in todo_list%}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' item.id %}">{{item.name}}</a>

                </td>
                <td>
                    {{item.items.count}}
                </td>


            </tr>
            {%endfor%}
        </table>

    </div>
</main>
{% endblock content%}
